n8n-workflows/Verticcal CRM Agent - V2.json
{
  "name": "Verticcal CRM Agent - V2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5f63c7d2-8220-4d3f-9f9e-46e7e7378fa1",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        -288
      ],
      "webhookId": "e67c3257-eb66-4117-86c4-2e44b0a8d884"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "id": "e723dc99-e4b2-4699-b980-f804b65d12e3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -624,
        -64
      ],
      "credentials": {
        "openAiApi": {
          "id": "slLpmTkoppTi3fCz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INSTRUCCIONES CRÍTICAS - DEBES SEGUIR ESTE FORMATO EXACTO:\n\nCuando el usuario pida CREAR un contacto:\n- Respuesta: TOOL:CREATE_CONTACT|[nombre completo]|[email]|[teléfono]\n- Ejemplo: Usuario dice \"Crea a Juan Pérez con email juan@mail.com y teléfono +57 300 111 2222\"\n- Tu respuesta EXACTA: TOOL:CREATE_CONTACT|Juan Pérez|juan@mail.com|+57 300 111 2222\n\nCuando el usuario pida AGREGAR NOTA a un contacto que ACABA DE CREAR (está en memoria):\n- Respuesta: TOOL:ADD_NOTE|[nombre o email o teléfono del contacto]|[texto de la nota]\n- Ejemplo: Usuario dice \"Agrega nota a Falcao García: Cliente interesado en plan premium\"\n- Tu respuesta EXACTA: TOOL:ADD_NOTE|Falcao García|Cliente interesado en plan premium\n- Ejemplo 2: Usuario dice \"Agrega nota a falcao@verticcal.com que llamó ayer\"\n- Tu respuesta EXACTA: TOOL:ADD_NOTE|falcao@verticcal.com|Llamó ayer\n\nCuando el usuario pida ACTUALIZAR un contacto que ACABA DE CREAR (está en memoria):\n- Respuesta: TOOL:UPDATE_CONTACT|[nombre o email o teléfono del contacto]|[campo]|[nuevo_valor]\n- Ejemplo: Usuario dice \"Actualiza el teléfono de Juan Pérez a +57 301 999 8888\"\n- Tu respuesta EXACTA: TOOL:UPDATE_CONTACT|Juan Pérez|phone|+57 301 999 8888\n\nNO AGREGUES TEXTO ADICIONAL. NO EXPLIQUES. SOLO RESPONDE CON EL FORMATO TOOL:ACCION|PARAMETROS.\n\nMensaje del usuario: {{ $json.chatInput }}"
      },
      "id": "cca13f9f-4704-4c3e-ae00-81fdd5a523cf",
      "name": "Conversational Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -640,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\n\nreturn {\n  name: parts[1]?.trim() || '',\n  email: parts[2]?.trim() || '',\n  phone: parts[3]?.trim() || ''\n};"
      },
      "id": "face48b5-5751-4a39-a255-e7d5a5193d6a",
      "name": "Parse Create Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/contact",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "1788c5de-6d83-4076-8c1e-6275c0a492cd",
      "name": "HTTP Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst parsedData = $('Parse Create Data').first().json;\n\n// Verificar si hubo error\nif (item.json.error) {\n  // Extraer el mensaje de error del response\n  const errorData = item.json.error;\n  const errorMsg = errorData.message || JSON.stringify(errorData);\n  const idMatch = errorMsg.match(/ID:\\s*(\\d+)/);\n  \n  if (idMatch) {\n    return {\n      id: parseInt(idMatch[1]),\n      name: parsedData.name,\n      email: parsedData.email,\n      phone: parsedData.phone,\n      already_exists: true\n    };\n  }\n  \n  throw new Error(errorMsg);\n}\n\n// Si no hay error, contacto creado exitosamente\nconst response = item.json;\nreturn {\n  id: response.id,\n  name: response.name || parsedData.name,\n  email: response.email || parsedData.email,\n  phone: response.phone || parsedData.phone,\n  already_exists: false\n};"
      },
      "id": "f6ed3d08-d93a-4426-85be-fb2bcab5f354",
      "name": "Handle Create Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\nconst identifier = parts[1]?.trim() || '';\nconst content = parts[2]?.trim() || '';\n\nlet contactId = null;\n\n// Buscar en memoria del workflow (Handle Create Response)\ntry {\n  const createResults = $('Handle Create Response').all();\n  for (const result of createResults) {\n    const contact = result.json;\n    if (contact.name?.toLowerCase().includes(identifier.toLowerCase()) ||\n        contact.email?.toLowerCase() === identifier.toLowerCase() ||\n        contact.phone === identifier) {\n      contactId = contact.id;\n      break;\n    }\n  }\n} catch (e) {\n  // Nodo no ejecutado todavía\n}\n\n// Si encontró en memoria, retornar directamente\nif (contactId) {\n  return {\n    contact_id: contactId,\n    content: content,\n    found_in_memory: true\n  };\n}\n\n// Si no encontró, preparar para búsqueda HTTP\nreturn {\n  identifier: identifier,\n  content: content,\n  found_in_memory: false\n};"
      },
      "id": "a9ac1539-b6e8-4987-980c-1c2314b6b0e0",
      "name": "Parse Note Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -304
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/contact/search?q={{ $json.identifier }}",
        "options": {}
      },
      "id": "46eb5791-942d-4566-a41a-93487802e76d",
      "name": "HTTP Search Contact (Note)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const identifier = $('Parse Note Data').first().json.identifier;\nconst content = $('Parse Note Data').first().json.content;\n\n// Si HTTP Search tuvo éxito, usar ese ID\nif ($input.item.json.id) {\n  return {\n    contact_id: $input.item.json.id,\n    content: content\n  };\n}\n\n// Si falló, el contacto no existe\nthrow new Error(`No se encontró el contacto \"${identifier}\". Por favor verifica el nombre, email o teléfono.`);"
      },
      "id": "5320f51a-49fc-49c2-819a-06325f23dc9f",
      "name": "Resolve Note Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/contact/note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "57e00b6f-728f-4efb-829c-5452d930ffae",
      "name": "HTTP Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -304
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\nconst identifier = parts[1]?.trim() || '';\nconst field = parts[2]?.trim() || '';\nconst value = parts[3]?.trim() || '';\n\nlet contactId = null;\n\n// Buscar en memoria del workflow (Handle Create Response)\ntry {\n  const createResults = $('Handle Create Response').all();\n  for (const result of createResults) {\n    const contact = result.json;\n    if (contact.name?.toLowerCase().includes(identifier.toLowerCase()) ||\n        contact.email?.toLowerCase() === identifier.toLowerCase() ||\n        contact.phone === identifier) {\n      contactId = contact.id;\n      break;\n    }\n  }\n} catch (e) {\n  // Nodo no ejecutado todavía\n}\n\n// Si encontró en memoria, retornar directamente\nif (contactId) {\n  const data = {\n    contact_id: contactId,\n    found_in_memory: true\n  };\n  \n  if (field) {\n    data[field] = value;\n  }\n  \n  return data;\n}\n\n// Si no encontró, preparar para búsqueda HTTP\nreturn {\n  identifier: identifier,\n  field: field,\n  value: value,\n  found_in_memory: false\n};"
      },
      "id": "8a034a52-ab78-40e3-9868-8166b6319aef",
      "name": "Parse Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        112
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/contact/search?q={{ $json.identifier }}",
        "options": {}
      },
      "id": "c2345853-f603-4ec3-8261-9650cd4bbb47",
      "name": "HTTP Search Contact (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const identifier = $('Parse Update Data').first().json.identifier;\nconst field = $('Parse Update Data').first().json.field;\nconst value = $('Parse Update Data').first().json.value;\n\n// Si HTTP Search tuvo éxito, usar ese ID\nif ($input.item.json.id) {\n  const data = {\n    contact_id: $input.item.json.id\n  };\n  \n  if (field) {\n    data[field] = value;\n  }\n  \n  return data;\n}\n\n// Si falló, el contacto no existe\nthrow new Error(`No se encontró el contacto \"${identifier}\". Por favor verifica el nombre, email o teléfono.`);"
      },
      "id": "8f816b24-c7f6-4a65-bd43-7566da26e2c7",
      "name": "Resolve Update Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://host.docker.internal:8000/api/v1/contact",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "09ad6668-eecd-4313-a7c5-5d69d479ccbf",
      "name": "HTTP Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nif (data.already_exists) {\n  return {\n    output: `⚠️ Este contacto ya existe en el sistema.\\n\\n📧 Email: ${data.email || 'No proporcionado'}\\n📱 Teléfono: ${data.phone || 'No proporcionado'}\\n🆔 ID: ${data.id}\\n\\n¿Quieres agregar una nota o actualizar su información?`\n  };\n} else {\n  return {\n    output: `¡Perfecto! He creado el contacto de ${data.name} exitosamente.\\n\\n📧 Email: ${data.email || 'No proporcionado'}\\n📱 Teléfono: ${data.phone || 'No proporcionado'}\\n🆔 ID: ${data.id}\\n\\n¿Necesitas agregar alguna nota o realizar otra acción?`\n  };\n}"
      },
      "id": "1911d184-78f5-4c78-8b9e-5df17c12c202",
      "name": "Format Create Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -496
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json.message;\nreturn {\n  output: `✅ Nota agregada exitosamente.\\n\\n📝 Contenido: \"${data}\"\\n\\n¿Hay algo más en lo que pueda ayudarte?`\n};"
      },
      "id": "18fe8675-5408-4c00-b51b-18a6d50eeb29",
      "name": "Format Note Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  output: `✅ Contacto actualizado correctamente.\\n\\n¿Necesitas realizar alguna otra modificación?`\n};"
      },
      "id": "9a7d0cd8-883a-4bca-b1d7-466a420b1178",
      "name": "Format Update Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "=text {{ $json.text }}",
                    "rightValue": "TOOL:CREATE_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4e557b35-8a93-427c-befb-aaeabeb34597"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CREAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c7cad84-8d78-4883-870f-2676b89534f2",
                    "leftValue": "=text {{ $json.text }}",
                    "rightValue": "TOOL:ADD_NOTE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AÑADIR NOTA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08b6bddc-bd21-455d-8a8a-4ad57fe44dd1",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "TOOL:UPDATE_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ACTUALIZAR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -336,
        -304
      ],
      "id": "cc4104e8-644f-4f9f-a116-e5f159d39d06",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Conversational Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Conversational Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Create Data": {
      "main": [
        [
          {
            "node": "HTTP Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Note Data": {
      "main": [
        [
          {
            "node": "HTTP Add Note",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Search Contact (Note)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Search Contact (Note)": {
      "main": [
        [
          {
            "node": "Resolve Note Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Note Contact": {
      "main": [
        [
          {
            "node": "HTTP Add Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update Data": {
      "main": [
        [
          {
            "node": "HTTP Update Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Search Contact (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Search Contact (Update)": {
      "main": [
        [
          {
            "node": "Resolve Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Update Contact": {
      "main": [
        [
          {
            "node": "HTTP Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Create Contact": {
      "main": [
        [
          {
            "node": "Handle Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Create Response": {
      "main": [
        [
          {
            "node": "Format Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Add Note": {
      "main": [
        [
          {
            "node": "Format Note Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Update Contact": {
      "main": [
        [
          {
            "node": "Format Update Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Parse Create Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Note Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7b634da-5718-45dc-9594-60646fdaade4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "185a760f73cd5fe16f9ecd978f0492b3ef5be27956aa2181147f8ba6615bf8ef"
  },
  "id": "vGqTDkMz1sxKYmUu",
  "tags": []
}