n8n-workflows/verticcal-crm-agent-working.json
{
  "name": "Verticcal CRM Agent - Working Version",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-chat",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [680, 600],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-credentials",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "window-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [680, 800]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INSTRUCCIONES CRÍTICAS - DEBES SEGUIR ESTE FORMATO EXACTO:\n\nCuando el usuario pida CREAR un contacto:\n- Respuesta: TOOL:CREATE_CONTACT|[nombre completo]|[email]|[teléfono]\n- Ejemplo: Usuario dice \"Crea a Juan Pérez con email juan@mail.com y teléfono +57 300 111 2222\"\n- Tu respuesta EXACTA: TOOL:CREATE_CONTACT|Juan Pérez|juan@mail.com|+57 300 111 2222\n\nCuando el usuario pida AGREGAR NOTA:\n- Respuesta: TOOL:ADD_NOTE|[id_numérico]|[texto de la nota]\n- Ejemplo: Usuario dice \"Agrega nota al contacto 5: Cliente interesado en producto premium\"\n- Tu respuesta EXACTA: TOOL:ADD_NOTE|5|Cliente interesado en producto premium\n\nCuando el usuario pida ACTUALIZAR contacto:\n- Respuesta: TOOL:UPDATE_CONTACT|[id_numérico]|[campo]|[nuevo_valor]\n- Ejemplo: Usuario dice \"Actualiza el email del contacto 3 a nuevo@mail.com\"\n- Tu respuesta EXACTA: TOOL:UPDATE_CONTACT|3|email|nuevo@mail.com\n\nNO AGREGUES TEXTO ADICIONAL. NO EXPLIQUES. SOLO RESPONDE CON EL FORMATO TOOL:ACCION|PARAMETROS.\n\nMensaje del usuario: {{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {}
      },
      "id": "chain-node",
      "name": "Conversational Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [480, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "TOOL:CREATE_CONTACT"
            }
          ]
        }
      },
      "id": "if-create",
      "name": "IF Create Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "TOOL:ADD_NOTE"
            }
          ]
        }
      },
      "id": "if-note",
      "name": "IF Add Note",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "TOOL:UPDATE_CONTACT"
            }
          ]
        }
      },
      "id": "if-update",
      "name": "IF Update Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 600]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\n\nreturn {\n  name: parts[1]?.trim() || '',\n  email: parts[2]?.trim() || '',\n  phone: parts[3]?.trim() || ''\n};"
      },
      "id": "code-parse-create",
      "name": "Parse Create Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/contact",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-create",
      "name": "HTTP Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 140]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\n\nreturn {\n  contact_id: parseInt(parts[1]?.trim()) || 0,\n  content: parts[2]?.trim() || ''\n};"
      },
      "id": "code-parse-note",
      "name": "Parse Note Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/contact/note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-note",
      "name": "HTTP Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 340]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.text;\nconst parts = output.split('|');\n\nconst data = {\n  contact_id: parseInt(parts[1]?.trim()) || 0\n};\n\nconst field = parts[2]?.trim();\nconst value = parts[3]?.trim();\n\nif (field) {\n  data[field] = value;\n}\n\nreturn data;"
      },
      "id": "code-parse-update",
      "name": "Parse Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 540]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://host.docker.internal:8000/api/v1/contact",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-update",
      "name": "HTTP Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 540]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "output",
              "value": "=✅ Contacto creado: {{ $json.name }} (ID: {{ $json.id }})",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-create",
      "name": "Format Create Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1380, 140]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "output",
              "value": "=✅ Nota agregada al contacto {{ $json.contact_id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-note",
      "name": "Format Note Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1380, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "output",
              "value": "=✅ Contacto {{ $json.contact_id }} actualizado",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-update",
      "name": "Format Update Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1380, 540]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "Conversational Agent", "type": "main", "index": 0 }]]
    },
    "Conversational Agent": {
      "main": [[
        { "node": "IF Create Contact", "type": "main", "index": 0 },
        { "node": "IF Add Note", "type": "main", "index": 0 },
        { "node": "IF Update Contact", "type": "main", "index": 0 }
      ]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Conversational Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{ "node": "Conversational Agent", "type": "ai_memory", "index": 0 }]]
    },
    "IF Create Contact": {
      "main": [[{ "node": "Parse Create Data", "type": "main", "index": 0 }]]
    },
    "IF Add Note": {
      "main": [[{ "node": "Parse Note Data", "type": "main", "index": 0 }]]
    },
    "IF Update Contact": {
      "main": [[{ "node": "Parse Update Data", "type": "main", "index": 0 }]]
    },
    "Parse Create Data": {
      "main": [[{ "node": "HTTP Create Contact", "type": "main", "index": 0 }]]
    },
    "Parse Note Data": {
      "main": [[{ "node": "HTTP Add Note", "type": "main", "index": 0 }]]
    },
    "Parse Update Data": {
      "main": [[{ "node": "HTTP Update Contact", "type": "main", "index": 0 }]]
    },
    "HTTP Create Contact": {
      "main": [[{ "node": "Format Create Response", "type": "main", "index": 0 }]]
    },
    "HTTP Add Note": {
      "main": [[{ "node": "Format Note Response", "type": "main", "index": 0 }]]
    },
    "HTTP Update Contact": {
      "main": [[{ "node": "Format Update Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-30T00:00:00.000Z",
  "versionId": "working-v1"
}
